.icon-qiita {
  content: "";
  background-image: url("/icon/qiita.png");
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  vertical-align: auto;
}

.icon-zenn {
  content: "";
  background-image: url("/icon/zenn.png");
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  vertical-align: auto;
}

.icon-atcoder {
  content: "";
  background-image: url("/icon/atcoder.png");
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  vertical-align: auto;
}
